install
url --url=http://mirror.rit.edu/centos/6.4/os/x86_64/
lang en_US.UTF-8
keyboard us
network --bootproto=dhcp
rootpw --iscrypted $1$damlkd,f$UC/u5pUts5QiU3ow.CSso/
firewall --enabled --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone UTC
bootloader --location=mbr

text
skipx
zerombr

clearpart --all --initlabel
autopart

auth  --useshadow  --enablemd5
firstboot --disabled
reboot --eject

repo --name=epel --baseurl=http://mirror.rit.edu/epel/6/x86_64/
repo --name=updates --baseurl=http://mirror.rit.edu/centos/6.4/updates/x86_64/
repo --name=puppetlabs --baseurl=http://yum.puppetlabs.com/el/6/products/x86_64/
repo --name=puppetdeps --baseurl=http://yum.puppetlabs.com/el/6/dependencies/x86_64/

%packages --ignoremissing
@core
gcc
kernel-devel
kernel-headers
dkms
make
bzip2
binutils
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
man
sudo
wget
curl
facter
puppet
redhat-lsb-core
kernel-firmware
# These are not needed for a super bare-bones box. Oh well.
yum-presto
htop
vim-enhanced
nfs-utils
%end

%post
# The installer apparently does not respect 'selinux' in a kickstart. Instead, we sed that shit.
#/bin/sed -i -e 's/\(^SELINUX=\)enforcing$/\1disabled/' /etc/selinux/config

# Add vagrant user and give it passwordless, tty-less sudo.
/usr/sbin/groupadd vagrant
/usr/sbin/useradd vagrant -g vagrant -G wheel
echo "vagrant"|passwd --stdin vagrant
cat > /etc/sudoers.d/vagrant << EOM
Defaults:vagrant !requiretty
vagrant        ALL=(ALL)       NOPASSWD: ALL
EOM
chmod 0440 /etc/sudoers.d/vagrant
